<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="User" type="cn.joymates.erp.domain.User" />
		<typeAlias alias="Resource" type="cn.joymates.erp.domain.Resource" />
		<typeAlias alias="Role" type="cn.joymates.erp.domain.Role" />
		<typeAlias alias="Supplier" type="cn.joymates.erp.domain.Supplier" />
		<typeAlias alias="Material" type="cn.joymates.erp.domain.Material" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="cn.joymates.erp.utils.db.ProxoolDataSourceFactory"></dataSource>
		</environment>
	</environments>
	
	<!-- ORM映射文件 -->
	<mappers>
		<mapper resource="cn/joymates/erp/domain/xml/right.xml" />
	</mappers>
	
	
</configuration> 